/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Merienda+One|Quicksand:400,500');
/*UNIVERSAL STYLES*/
body {
  position: relative;
}

.base-color {  /* Light blue grey */
  color: #95ACC5;
}

.accent-color-blue {  /*lighter blue*/
  color: #054674;
}

.accent-color-purple { /*Dark purple*/
  color: #2C2538;
}

.accent-color-navy {  /*Navy dark blue*/
  color: #001129;
}

.accent-color-teal { /*Darker blue green*/
  color: #013F5B;
}

.merienda-font {
  font-family: 'Merienda One', cursive;
}

.quicksand-font {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
  height: 500px;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
}

.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.larger-text {
  font-size: 64px;
}

.large-text {
  font-size: 36px;
}

.small-text {
  font-size: 24px;
}

.smaller-text {
  font-size: 16px;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

/*NAVIGATION BAR STYLING*/

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default {
  color: white;
  border: none;
}

 /*HERO SECTION STYLING*/
.hero-section {
  background-image: url(../img/hero.jpeg);
  height: 700px;
  background-attachment: fixed;
  text-shadow: 3px 1px #001129;
}

 .hero-bg {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.pitch--bg-fixed {
  height: 450px;
  text-align: justify;
}

.pitch--bg-fixed p {
  margin: 25px;
  line-height: 50px;
}

.skills--bg-img {
  background-color: #013F5B;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.skills-bg {
  background-image: url(../img/skills.jpeg);
  height: 350px;
}


/*PROJECT STYLES*/

.project-bg {
  background-color: #95ACC5;
  height: 600px;
}

.project-bg h1 {
  margin-top: 50px;
}

.column {
  height: 350px;
  margin-bottom: 25px;
}

.pet-bg {
  background-image: url(../img/petstore-img.jpg);
  border: 1px solid #054674;
}

.res-bg {
  background-image: url(../img/restaurant-2.jpg);
  border: 1px solid #054674;
  color: #95ACC5 ;
}

.more-bg {
  background-image: url(../img/pencil.jpeg);
  border: 1px solid #054674;
  height: 350px;
}


 /*CONTACT FORM STYLE*/

 .form {
   background-color: #95ACC5;
   border: 2px dotted white;
   padding: 35px;
   margin-top: 40px;
   margin-bottom: 40px;
 }

.form-bg {
  background-image: url(../img/sky.jpg);
}

.contact-img {
  background-image: url(../img/email.jpeg);
  height: 425px;
}

 /*FOOTER*/


.footer-bg-color {
  background-color: black;
  color: white;
}

.footer-bg-color i {
  margin: 15px;
  text-decoration: none;
  color: white;
}



/*MEDIA QUERIES*/

@media only screen and (orientation: landscape) and (min-width: 768px) {
  #navbar-example {
    background-color: transparent;
  }
}

/*-----------------------------------
CHANGES THE FOOTER BG AND FORM COLOR
------------------------------------*/

@media screen and (max-width: 768px) {
  .footer-bg-color, .footer-bg-color h1  {
    font-size: 42px;
    background-color:#013F5B;
    color: white;
    font-weight: bold;
  }
  .form {
    background-color: white;
    color: black;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .skills--bg-img {
    height: auto;
  }
  .skills-bg {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .responsive-prj {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 900px;
    width: 100%;
    margin-top: 50px;
  }
  .project-bg {
    height: 1000px;
  }
  .pitch--bg-fixed {
    height: auto;
  }
}



/*----------------------------------------
CHANGES THE HERO SECTION TEXT SIZE & COLOR
----------------------------------------*/
@media screen and (max-width: 768px) {
  .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default {
    color: black;
  }
  .hero-section {
    background-image: url(../img/mountain.jpeg);
    display: flex;
    justify-content: center;
  }
  .hero-section h1 {
    font-size: 50px;
  }
  .hero-section p {
    font-size: 45px;
  }
}
